<html>
    <head>
        <title>Login</title>
        <link rel= "stylesheet" href="static/style.css">

    </head>

    <body>
        <div class="container" >
            <h1 style="text-align: center;">LOGIN</h1>
            <br>
            <label style="margin-left: 50px;">Username: </label>
            <input id="user" placeholder="Enter username"><br><br>
            <label style="margin-left: 50px; margin-right: 5px;">Password: </label>
            <input id="password" placeholder="Enter password">
            <br>
            <button style="margin-left: 220px; margin-top: 20px;">Login</button><div></div>

    </body>
</html>